version: '3.4'

services:
  catalogdb:
    image: mongo

  basketdb:  
    image: redis:alpine

  discountdb:  
    image: postgres:alpine

  pgadmindb:  
    image: dpage/pgadmin4

  portainer:  
    image: portainer/portainer-ce

  catalog.api:
    image: ${DOCKER_REGISTRY-}catalog
    build:
      context: .
      dockerfile: services/Catalog/Catalog.API/Dockerfile


  basket.api:
    image: ${DOCKER_REGISTRY-}basket
    build:
      context: .
      dockerfile: services/Basket/Basket.API/Dockerfile

  discount.api:
    image: ${DOCKER_REGISTRY-}discount
    build:
      context: .
      dockerfile: services/Discount.API/Dockerfile

volumes:
  mongo_data:
  portainer_data:
  pgdata:
  postgres_data:

